.about-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

.about-content {
    flex: 1; 
    text-align: center; 
}

.about-content p {
    margin-top: 20px; /* Adjusts space above each paragraph */
}

.underline-link {
    text-decoration: underline; 
    color: inherit; 
}