.Profile {
    position: fixed; 
    width: 400px;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    box-sizing: border-box;
    top: 0;
    left: 0; 
    overflow-y: auto; 
}

.profile-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-nav h1 {
    color: #333;
    margin-bottom: 20px;
}

.Profile-nav a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.Profile a:hover {
    background-color: #0056b3;
}
