@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --black: #000;
    --grey: #333;
    --org: #ff6404;
}

.nav {
    font-family: 'League Spartan', sans-serif;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    background-color: var(--black);
    box-shadow: 0 0 30px var(--grey);
    display: flex;
}

.nav-item {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--org);
    transition: all 0.3s ease-out;
}

.nav-item:hover::after {
    width: 100%;
}
