@font-face {
  font-family: 'Terminus';
  src: url('./fonts/Terminus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Terminus', monospace;
  margin: 0;
  padding: 0;
  color: #00ff00;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "profile navbar"
    "profile content";
  height: 100vh;
  position: relative;
  z-index: 1;
}

.profile {
  grid-area: profile;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 40;
}

.content {
  grid-area: content;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.seemore {
  color: #00ff00;
  text-decoration: none;
  font-size: 15px;
}

.seemore:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "navbar"
      "profile"
      "content";
  }

  .profile {
    height: auto;
  }

  .content {
    padding: 20px;
  }
}