.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  background-color: #e73e3e;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
}
