/* App.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Terminus', monospace;
  color: #00ff00;
}

.container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 50px 50px 1fr;
  grid-template-areas:
    "langnav langnav"
    "profile navbar"
    "profile content";
  height: 100vh;
  position: relative;
  z-index: 1;
}

.langnav {
  grid-area: langnav;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.profile {
  grid-area: profile;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}

.seemore {
  color: #00ff00;
  text-decoration: none;
  font-size: 15px;
}

.seemore:hover {
  text-decoration: underline;
}


@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
      "langnav"
      "profile"
      "navbar"
      "content";
  }

  .profile {
    grid-area: profile;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 60px; /* Adjust height as needed */
    flex-direction: row; /* This makes the profile picture bar horizontal */
  }

  .profile img {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    border-radius: 50%;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
      "langnav"
      "profile"
      "navbar"
      "content";
  }

  .profile {
    grid-area: profile;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 60px; /* Adjust height as needed */
    flex-direction: row; /* This makes the profile picture bar horizontal */
  }

  .profile img {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    border-radius: 50%;
  }
}
